.dIqhFR {
  transition: all 0.3s ease 0s;
  transform: scaleY(1);
  transform-origin: center top;
  height: auto;
  overflow: visible;
  padding: 0px 26px 0px 70px;

  .cHPnsn {
    margin-top: 20px;
  }
}

.dIqhFR .ant-tabs {
  overflow: visible;
  position: static;
}

.hAAzhb {
  transition: all 0.3s ease 0s;
  transform: scaleY(0);
  transform-origin: center top;
  height: 0px;
  overflow: hidden;
  padding: 0px 26px 0px 70px;
}

.hAAzhb .ant-tabs {
  overflow: visible;
  position: static;
}

.kJFhJx {
  padding: 10px 10px 0px 0px;
}

.jbgjEw {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.jbgjEw .inline-dropdown p {
  margin-right: 5px;
}

.jqZpcr {
  position: relative;
}

.QBEDW {
  height: 312px;
  position: relative;
}

.iLolDK {
  transition: all 0.3s ease 0s;
  transform: scaleY(1);
  transform-origin: center top;
  height: auto;
  overflow: visible;
  padding: 0px 40px;
}