
.iBeWfn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 40px 10px;
  position: relative;
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 3px 3px 0px;
}

.bZIpjk > div:first-child {
  padding-left: 0px;
}

.eEamKo.ant-skeleton {
  width: 70px;
}

.eEamKo.ant-skeleton .ant-skeleton-content .ant-skeleton-title {
  height: 70px;
  min-width: 70px;
  max-width: 70px;
}

.bZIpjk > div {
  padding: 0px 10px
}

.bZIpjk > div .ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph {
  margin-bottom: 0px;
}

.fbhFxO.ant-skeleton {
  width: 100%;
}

.fbhFxO.ant-skeleton .ant-skeleton-content .ant-skeleton-title {
  height: 24px;
  min-width: 90%;
  max-width: 90%;
}

.iLolDK {
  transition: all 0.3s ease 0s;
  transform: scaleY(1);
  transform-origin: center top;
  height: auto;
  overflow: visible;
  padding: 0px 40px;
}

.lmQagi > div:first-child {
  display: flex;
  margin-bottom: 20px;
}

.lmQagi > div:first-child > div {
  margin-right: 40px;
}

.dXBHIq.ant-skeleton {
  width: 100px;
}

.hdgFJL.ant-skeleton {
  width: 80px;
}

.cJbWaN.ant-skeleton {
  width: 100%;
}

.cJbWaN.ant-skeleton .ant-skeleton-content .ant-skeleton-title {
  height: 36px;
  min-width: 100%;
  max-width: 100%;
}

.kKhPDE.ant-skeleton {
  width: 90px;
}

.kKhPDE.ant-skeleton .ant-skeleton-content .ant-skeleton-title {
  height: 36px;
  min-width: 90px;
  max-width: 90px;
}