.eGrwdU {
  width: 400px;

  h2 {
    text-transform: capitalize;
  }

  p {
    color: rgb(90, 88, 89);
    font-family: "Inter SemiBold", sans-serif;
  }
}

.eGrwdU .ant-radio-wrapper {
  margin: 8px 0px;
  color: rgb(90, 88, 89);
  font-size: 13px;
}
