.jYCyV {
  width: 675px;
}

.iMSxfz {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 10px;

  h2 {
    display: block;
    margin-bottom: 0px !important;
  }

  svg {
    margin-right: 15px;
  }

  div {
    font-size: 13px;
    font-family: "ProximaNova Regular", sans-serif;
    position: relative;
    color: rgb(90, 88, 89);

    div {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
    }  
  }  
}

.jIYPtr {
  margin-bottom: 30px;

  h2 {
    text-align: left;
  }  
}

.hRmKiD {
  margin: 10px 0px 20px;
  position: relative;

  div {
    font-family: "ProximaNova Bold", sans-serif;
    margin-bottom: 5px;
    color: rgb(90, 88, 89);
  }

  .textarea {
    resize: none;
    width: 100%;
    max-height: 310px;
    min-height: 310px;
    font-family: "Inter SemiBold", sans-serif;
    border-radius: 2px;
    padding: 10px;
    cursor: text;
    outline: none;
    overflow-y: scroll;
  }
}

.JwezC {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}