.dGGvnC {
  margin: 20px 0px;
  position: absolute;
  bottom: 0px;
  left: 40px;
  width: calc(100% - 160px);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.dGGvnC .ant-pagination .ant-pagination-prev a, .dGGvnC .ant-pagination .ant-pagination-next a, .dGGvnC .ant-pagination .ant-pagination-item:not(.ant-pagination-item-active) {
  line-height: 33px;
  border: none;
  font-size: 13px;
  color: rgb(114, 114, 114);
  background: transparent;
}