.jypVEH {
  padding: 0px 0px 0px 42px;
  min-height: 80px;
  max-height: 80px;
  border-bottom: 1px solid rgb(229, 229, 229);
  color: rgb(90, 88, 89);
  position: relative;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s ease 0s;
}

.jypVEH .ant-row-flex {
  height: 100%;
}

.jypVEH .ant-checkbox-wrapper {
  position: absolute;
  left: 12px;
}

.jypVEH .img {
  width: 60px;
  min-width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 25px;
  cursor: pointer;
  transform: rotate(0deg) scaleX(1) scaleY(1);
}

.jypVEH .actions {
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.jypVEH .ant-row-flex .ant-col {
  height: 100%;
  display: flex;
  padding: 10px 0px;
  -webkit-box-align: center;
  align-items: center;
}

.jypVEH .actions.variants > svg {
  min-width: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: rgb(90, 88, 89);
}

.itBzqa .actions {
  position: relative;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}

.eIbWUB {
  overflow: hidden;
}

.eIbWUB > div:first-child {
  font-size: 15px;
  color: rgb(90, 88, 89);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.eIbWUB > div:last-child span {
  font-family: "Inter Regular", sans-serif;
  font-size: 11px;
  color: rgb(183, 183, 183);
}

.eIbWUB > div:last-child span:not(:last-child) {
  position: relative;
  margin-right: 25px;
}

.eIbWUB > div:last-child span:not(:last-child)::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background: rgb(183, 183, 183);
  right: -13px;
  top: 0px;
}

.hSaXbT {
  height: 16px;
  background: rgb(89, 206, 136);
  border-radius: 3px;
  display: inline-block;
  padding: 0px 5px;
  color: rgb(255, 255, 255);
  font-family: "Inter Bold", sans-serif;
  font-size: 11px;
  position: relative;
  text-transform: uppercase;
}


