.cFZvyK {
  width: calc(100% - 220px);
  transition: all 0.3s ease 0s;
  margin-left: 220px;
  padding: 20px 40px;
  z-index: 3;
  position: relative;
}

.cFZvyK h2 {
  display: flex;
  align-items: flex-end;
}

.iDDieF {
  width: calc(100% - 220px);
  transition: all 0.3s ease 0s;
  margin-left: 220px;
}

.iDDieF button {
  padding-left: 40px;
  margin-bottom: 10px;
}

.iBeWfn {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0px 40px 10px;
  position: relative;
  margin-bottom: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 3px 3px 0px;
}

.bZIpjk > div:first-child {
  padding-left: 0px;
}

.eEamKo.ant-skeleton {
  width: 70px;

  .ant-skeleton-content {
    .ant-skeleton-title {
      height: 70px;
      min-width: 70px;
      max-width: 70px;    
    }
  }
}

.bZIpjk > div {
  padding: 0px 10px
}

.fbhFxO.ant-skeleton {
  width: 100%;
}