.zrVas {
  padding: 0px 40px 65px;
  width: calc(100% - 220px);
  transition: all 0.3s ease 0s;
  margin-left: 220px;
  position: relative;
}

.iPOzKR {
  min-width: min-content;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  z-index: 2;

  .save, .import {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 36px;
    margin-left: 10px;
    min-width: 115px;
    padding: 0px 20px;
    z-index: 2;
    font-family: "Inter Regular", sans-serif;
    border-color: rgb(90, 88, 89);
    background: transparent;

    :hover {
      background: rgb(228, 158, 76);
      border-color: rgb(228, 158, 76);
    }
  }
}

.iDDieF {
  width: calc(100% - 220px);
  transition: all 0.3s ease 0s;
  margin-left: 220px;

  button {
    padding-left: 40px;
    margin-bottom: 10px;
  }

  .iLolDK {
    transition: all 0.3s ease 0s;
    transform: scaleY(1);
    transform-origin: center top;
    height: auto;
    overflow: visible;
    padding: 0px 40px;

    .cHPnsn {
      margin-top: 20px;
    }
  }
}

.eYCsDc {
  display: flex;
  -webkit-box-align: center;
  align-items: center;

  img {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
    margin-right: 5px;
  }

  p {
    white-space: normal;
    overflow: hidden;
    font-family: "Inter SemiBold", sans-serif;
    margin: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.jGrMLl {
  height: 80px;
  position: relative;
  font-family: "Inter Regular", sans-serif;
  border-bottom: 1px solid rgb(229, 229, 229);
}


.dDoLKG p {
  width: 105px;
  margin: 15px 0px;
  color: rgb(90, 88, 89);  
}

.dDoLKG label button {
  margin-right: 15px;
}

.gcXOEA {
  display: flex;
  -webkit-box-align: center;
  align-items: center;

  .WxgtO {
    min-width: 32px;
    background: rgb(242, 242, 242);
    color: rgb(90, 88, 89);
    border-radius: 2px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    margin-right: 5px;
    font-size: 10px;
    font-family: "Inter SemiBold", sans-serif;
  }

  .GUZaV {
    color: rgb(90, 88, 89);

    svg {
      width: 24px;
      height: 24px;
      margin-right: 5px;
      min-width: 20px;
      max-width: 20px;
      height: 20px;
      margin-bottom: -5px;
    }
  }
}

.fTIbgQ {
  background: rgb(89, 206, 136);
  font-family: "Inter SemiBold", sans-serif;
  color: rgb(255, 255, 255);
  padding: 1px 3px;
  border-radius: 5px;
  cursor: default;
  display: flex;
  width: 50px;
  -webkit-box-pack: center;
  justify-content: center;
}

.iwrWXZ {
  padding: 13px 0px;
}

.iwrWXZ > div {
  margin-bottom: 5px;
  min-height: 32px;
}

.iwrWXZ div:first-child {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.hFzCJJ {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 10px;  
}

.hFzCJJ p {
  margin: 0px 16px 0px 20px;
  color: rgb(183, 183, 183);
  font-family: "Inter SemiBold", sans-serif;
}

.hFzCJJ .checked {
  font-family: "Inter SemiBold", sans-serif;
  color: rgb(90, 88, 89);
}

.hFzCJJ > span {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  height: 24px;
}

.hFzCJJ > span svg path {
  transition: all 0.3s ease 0s;
  fill: rgb(90, 88, 89);
}

.hFzCJJ > span svg:hover path {
  fill: rgb(228, 158, 76);
}

.bJBQtm {
  overflow-x: scroll;
  white-space: nowrap;
  color: rgb(90, 88, 89);

  table {
    width: 100%;
  }
}

.gIdkRj {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgb(229, 229, 229);
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px;

  div:last-child {
    border-bottom: none;
  }  
}

.eUXZOu {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 15px 5px 20px;
  position: relative;
  color: rgb(90, 88, 89);
  border-bottom: 1px solid rgb(229, 229, 229);
  
  svg {
    min-width: 24px;
    min-height: 24px;
    margin-right: 5px;
  }

  span:last-child {
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
}

.eUXZOu button {
  height: 24px;
}

.eUXZOu button span {
  color: rgb(38, 120, 217);
}

.fhZQmL {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.fhZQmL span {
  cursor: pointer;
  color: rgb(183, 183, 183);
  transition: all 0.3s ease 0s;
}

.fhZQmL span:last-child {
  height: 28px;
}

.spin-wrapper {
  height: calc(100vh - 420px);
  display: flex;
  align-items: center;
  justify-content: center;
}


.klIimJ {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(242, 242, 242);
  padding: 0px 18px;
  border-radius: 4px;
  color: rgb(90, 88, 89);
}

.klIimJ button span {
  color: rgb(228, 158, 76);
}