
.kJFhJx {
  padding: 10px 10px 0px 0px;
}

.jbgjEw {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.jbgjEw .inline-dropdown p {
  margin-right: 5px;
}

.jqZpcr {
  position: relative;
}

.QBEDW {
  height: 312px;
  position: relative;
}