// tab 2
.gYyuar {
  min-height: 384px;
  padding: 16px 0px 0px;
}

.gJGdtq {
  padding: 0px 0px 16px 12px;
  border-bottom: 1px solid rgb(229, 229, 229);
  color: rgb(183, 183, 183);
}

.gJGdtq .ant-checkbox-wrapper {
  margin-right: 10px;
}

.gJGdtq button {
  height: 20px;
}

.dLmOkh {
  max-height: 276px;
  overflow-y: auto;
}

.kWZePG {
  max-height: calc(100% - 379px);
  overflow-y: auto;
}

.FLPxa {
  padding: 0px 0px 16px 12px;
  border-bottom: 1px solid rgb(229, 229, 229);
  color: rgb(90, 88, 89);
}

.FLPxa .ant-checkbox-wrapper {
  margin-right: 10px;
}

.FLPxa > div > span {
  width: 24px;
  height: 21px;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px 5px;
}